@font-face {
    font-family: 'lexend';
    src: url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
}

body {
	font-family: 'lexend', sans-serif ;
	font-size: 100%;
}

.lexed {
    font-family: 'lexend', sans-serif ;
    font-size: 100%;
}

.content-box {
	overflow-x: scroll;
}

.vtext{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.sidescroll{

}

.opening-box {
	height: 80%;
}

.title {
	font-family: 'lexend', sans-serif ;
	font-weight: 400;
    font-size: 2.5em;
    color: black;
}


.title2 {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 200%;
    color: black;

}

.supertitle {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5.5rem;
    color: black;
}

.mmsupertitle {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5.5rem;
    color: black;
}

.image-layer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.subtitle {
    font-family: 'lexend', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
}
#sidebar-body {
    overflow-x: hidden;
}
#menutitle {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5em;
    writing-mode: vertical-rl;
    color: #f5d22c ;
}
.hometitle{
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5em;
    color: black;
    position: fixed;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}


.hometitle .fiveletter{
    display: none;
}

.hometitle:hover .threeletter{
    display: none;
}
.hometitle:hover .fiveletter{
    display: inline;
}

#homepagebody{
    background-image: url("images/GC/runwaygroupedit.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

#homeheroheading{

    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 3em;
}

.sidebar {
    position: fixed;
    vertical-align: top;
    right: -200px ;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    width: 340px;
    transition: all 0.1s;
    cursor: pointer;
    display: block;
    background-color: black;
    z-index: 1;
}
.sidebar:hover, .sidebar:focus, .sidebar:active {
    right: 0;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        background-color: transparent;
    }
    .sidebar:hover {
        background-color: black;
    }
    .mmsupertitle {
        font-family: 'lexend', sans-serif ;
        font-weight: 400;
        font-size: 2em;
        color: black;
    }
}


/*Model viewer css items*/

:not(:defined) > * {
    display: none;
}

model-viewer {
    width: 75rem;
    height: 50rem;
    margin: 0 auto;
}

footer{


}