@font-face {
    font-family: 'lexend';
    src: url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
}


body {
	font-family: 'lexend', sans-serif ;
	font-size: 100%;
    background-image: url("images/GC/runwaygroupedit.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.lexed {
    font-family: 'lexend', sans-serif ;
    font-size: 100%;
}

.content-box {
	overflow-x: scroll;
}



.vtext{
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.sidescroll{

}

.opening-box {
	height: 80%;
}

.title {
	font-family: 'lexend', sans-serif ;
	font-weight: 400;
    font-size: 2.5em; 
}


.title2 {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 200%;
}


.supertitle {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5.5rem;
}

.image-layer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.subtitle {
    font-family: 'lexend', sans-serif;
    font-weight: 200;
    font-size: 1.2em;
}
#sidebar-body {
    overflow-x: hidden;
}
#menutitle {
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5em;
    text-orientation: upright;
    writing-mode: vertical-rl;
    color: #f5d22c ;
}
.hometitle{
    font-family: 'lexend', sans-serif ;
    font-weight: 400;
    font-size: 5em;
    color: #f5d22c;
    position: fixed;
    text-align: center;
}

.sidebar {
    position: fixed;
    vertical-align: top;
    right: -200px ;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    width: 340px;
    transition: all 0.1s;
    cursor: pointer;
    display: block;
    background-color: black;
}
.sidebar:hover {
    right: 0;
}


/*Model viewer css items*/

:not(:defined) > * {
    display: none;
}

model-viewer {
    width: 75rem;
    height: 50rem;
    margin: 0 auto;
}

footer{
    position: absolute;
    bottom: -200px;

}